.tableHeader {
  white-space: pre-line !important;
  word-wrap: break-word;
  font-weight: bold;
  text-align: left;
}

.right {
  text-align: right;
}

.table {
  margin-top: 40px;
  border: none !important;
}